* {
    scrollbar-color : rgb(189, 189, 192) rgb(226, 225, 225);
}

html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Sans-serif;
    overflow: clip;
    /* background: rgb(255, 255, 255); */
    background: #cecbcb;
}


a {
    text-decoration: none;
}

a:hover:not(nav a) {
    /* color: #3e6cea; */
    color: rgb(100, 72, 240);
    text-decoration: underline;
}

#sidebar {
    display: none;
    margin: auto 0;
    margin-right: 15px;
    color: black;
    margin-left: 11px;
    cursor: pointer;
    /* position: relative; */
}

ul.submenu li {
    display: flex;
    align-items: center;
    padding: 10px;
    list-style: none;
}

ul.submenu {
    opacity: 0;
    position: absolute;
    top: 60px;
    left: 0;
    /* background: rgb(214, 214, 214); */
    background: #c0c0c0;
    border: 3px solid black;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    transition: all .3s ease;
    transform: translateX(-100%);
    z-index: 1000;
}

ul.submenu li a {
    color: rgb(11, 11, 11) !important;
    width: 100%;
    display: block;
}

ul.submenu .subheader {
    border-bottom: 3px solid black;
    /* background: rgb(181, 181, 183); */
    background: #888;
    padding: 10px;
    font-size: 20px;
    color: black;
}


#sidebar:hover .submenu {
    opacity: 1;
    transform: none;
}


#icon:hover i {
    transform: rotate(180deg);
}

#icon {
    display: none;
    font-size: 28px;
    transition: transform .3s ease;
}

#icon i {
    transition: transform .3s ease;
}


nav:not(#sidebar) {
    text-decoration: none;
    /* background: rgb(174, 172, 172); */
     background: #8a5fde;
    /* background: #81db8e; */
    border-bottom: solid black 3px;
    display: flex;
    padding: 10px 15px;
    flex-wrap: wrap;
}


#navitem {
    width: 100%;
    display: flex;
    list-style: none;
    font-size: 20px;
    max-width: 400px;
    margin-left: auto;
}

nav h1:not(#sidebar) {
    font-size: 28px;
    margin-right: 2px;
}


nav a:not(#sidebar) {
    margin: auto;
    color: black;
    text-decoration: none;
}

#navitem a:hover {
    text-decoration: underline;

}

#content{
    display: flex;
    position: relative;
    /* height: calc(100% - 26px); */
    height: 25%;
    flex: 1;
    padding: 10px;
    gap: 10px;
}

#content > div {
    background: rgb(220, 220, 220);
    border: 3px solid black;
    border-radius: 8px;
    overflow: clip;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#info {
    width: 25%;
    flex: 1;
}

#lessons {
    text-align: center;
    width: auto !important;
}

#lessons .main a {
    color: #4264c1;
    display: block;
    white-space: nowrap;
    font-size: 20px;
    height: 10px;
    position: relative;
    top: -20px;
}

#lessons .main a:hover {
   color:rgb(58, 28, 206)
}


.header {
    /* background:  rgb(197, 202, 191); */
    background: #9c7fd9;
    /* background: #89d895; */
    text-align: center;
    font-size: 20px;
    padding: 15px;
    border-bottom: 3px solid black;
}

.main {
    /* background: rgb(255, 255, 255); */
    background: rgb(226, 225, 225);
    position: relative;
    height: 100%;
    overflow-wrap: break-word;
    padding: 8px;
    white-space: pre-wrap;
    /* overflow-y: auto;
    overflow-x: clip; */
    overflow: auto;
}



/* Main content format */


#main p {
    font-size: 20px;
    margin-top: -10px;
    font-size: 20px;
    padding-left: 4px;
    /* text-align: justify; */
}

#main h1 {
    margin-bottom: 0px;
    padding: 1px;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding-left: 4px;
}

#main ul,
#main ol {
    margin-top: -20px;
    margin-bottom: -10px;
    padding-left: 30px;
    /* padding-top: 0px; */
    /* height: 10px; */
}

@media only screen and (max-width: 699px) {
#lessons {
    display: none !important;
}

#sidebar {
    display: initial; 
}
#icon {
    display: initial;
}
}
